
/*------foto central------------*/
.foto-central{
    text-align: center;
	background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	padding-top:200px;
	position: relative;
	top:-20px;
}
h1{
	color: #FFFFFF;
}

/*-----------documental--------------*/

video{
	max-width: 100%;
	height: auto;
}

.video {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}
 
.video iframe,
.video object,
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*------------seccion amarilla----------------*/
img{
	max-width: 100%;
	height:auto;
}

.titulo{
	text-align: center;
	margin-top: 20px;
}

.fondo{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

.fondo-amarillo{
	background-color: #F6FF03;

}

/*-------------footer---------------*/
.celeste{
	background-color: #B6D4F2;
	height: 80px;
	padding-top: 30px;
    margin-top: 30px;

}

footer p{
	padding-left: 40px;
}
p span{
	color: #FBFE03;
}